@model TaskListViewModel

<div id="taskListContainer">
    <table id="taskListTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Assignee</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">+</th>
            </tr>
        </thead>
        @foreach (ProjectManager.Models.Task task in Model.Tasks)
        {
            <tr>
                <td>
                    <a class="unstyledLink hoverPointer" asp-controller="Home" asp-action="Details" asp-route-id="@task.TaskId">@task.Name</a>
                </td>
                <td>
                    @if (task.DueDateRangeStart.Date == new DateTime().Date)
                    {

                    }
                    else if (@task.DueDateRangeStart.Date == @task.DueDateRangeEnd.Date)
                    {
                        @task.DueDateRangeEnd.ToString("MMMM dd")
                    }
                    else
                    {
                        @task.DueDateRangeStart.ToString("MMMM dd") <text> - </text> @task.DueDateRangeEnd.ToString("MMMM dd")
                    }
                </td>
                <td>
                    <img class="profile-pic" src="~/images/defaultProfilePic.png" />
                    @if (@task.AssignedUser != null)
                    {
                        <span>@task.AssignedUser.FirstName @task.AssignedUser.LastName</span>
                    }
                </td>
                <td>
                    <div class="backgroundOval @Model.priorityToClass(task.Priority)">
                        @Model.priorityToStr(task.Priority)
                    </div>
                </td>
                <td>
                    <div>
                        @task.Category.Name
                    </div>
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>