@model ProjectManager.ViewModels.ProjectViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/board.css" />
    <link rel="stylesheet" href="~/css/colorOptions.css" />
    <link rel="stylesheet" href="~/css/details.css" />
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/newProject.css" />
    <link rel="stylesheet" href="~/css/setDueDate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="navBar">
        <div id="navBarLeftSide">
            @if (Model.Projects.Count > 0)
            {
                <div id="currentProject" data-project-id="@Model.CurrentProject.ProjectId">
                    <div id="currentProjectName">@Model.CurrentProject.Name</div>
                    <div id="projectDropDownButton" onclick="toggleProjectDropDownMenu()">&#9660</div>
                </div>
                <div id="projectDropDownMenu" class="hidden">
                    <div id="newProjectButton" onclick="openNewProjectView()">+ Create new project</div>
                </div>
                <div id="navBarLinkDiv">
                    <a class="nav-bar-link" asp-controller="" asp-action="">List</a>
                    <a class="nav-bar-link" asp-controller="Home" asp-action="Board">Board</a>
                    <a class="nav-bar-link" asp-controller="" asp-action="">Calendar</a>
                </div>
            }
            else
            {
                <div>
                    <input id="newProjectTextBox" type="text" placeholder="Create a New Project" />
                </div>
            }
        </div>
        <div id="navBarRightSide">
            <div id="loggedInUser" class="default-profile-pic" data-user-id="@Model.LoggedInUser.UserId" data-user-name="@Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName" onclick="toggleUserDropDownMenu()">
                <div>@Model.LoggedInUser.FirstName[0]@Model.LoggedInUser.LastName[0]</div>
            </div>
            <div id="userDropDownMenu" class="hidden">
                <div id="userLogoutButton" onclick="logOutUser()">Log Out</div>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ajax/category.js" asp-append-version="true"></script>
    <script src="~/js/ajax/comment.js" asp-append-version="true"></script>
    <script src="~/js/ajax/project.js" asp-append-version="true"></script>
    <script src="~/js/ajax/tag.js" asp-append-version="true"></script>
    <script src="~/js/ajax/task.js" asp-append-version="true"></script>
    <script src="~/js/ajax/user.js" asp-append-version="true"></script>
    <script src="~/js/board/dragCategory.js" asp-append-version="true"></script>
    <script src="~/js/board/dragTask.js" asp-append-version="true"></script>
    <script src="~/js/board/index.js" asp-append-version="true"></script>
    <script src="~/js/board/newCategory.js" asp-append-version="true"></script>
    <script src="~/js/board/newTask.js" asp-append-version="true"></script>
    <script src="~/js/board/removeCategory.js" asp-append-version="true"></script>
    <script src="~/js/board/removetask.js" asp-append-version="true"></script>
    <script src="~/js/board/taskAssignedUser.js" asp-append-version="true"></script>
    <script src="~/js/board/taskDueDate.js" asp-append-version="true"></script>
    <script src="~/js/board/utility.js" asp-append-version="true"></script>
    <script src="~/js/details/assignedUser.js" asp-append-version="true"></script>
    <script src="~/js/details/dueDate.js" asp-append-version="true"></script>
    <script src="~/js/details/index.js" asp-append-version="true"></script>
    <script src="~/js/details/priority.js" asp-append-version="true"></script>
    <script src="~/js/details/tag.js" asp-append-version="true"></script>
    <script src="~/js/newProject/index.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/validation.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
