@model ProjectManager.ViewModels.BoardViewModel

@{
    var currentDate = DateTime.Now;
    var currentMonthZeroIndex = currentDate.Month - 1;
}
<div id="dueDateSelectionContainer" class="hidden" data-month="@currentMonthZeroIndex" data-year="@currentDate.Year">
    <div id="dueDateSelectionContainerFirstRow">
        @{
            var months = new string[12] { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };            
            var currentMonthName = months[currentMonthZeroIndex];
        }
        <div class="due-date-selection-change-month-button" onclick="goToPreviousMonthInCalendar()"> < </div>
        <div id="dueDateSelectionCalendarMonth">@currentMonthName @currentDate.Year</div>
        <div class="due-date-selection-change-month-button" onclick="goToNextMonthInCalendar()"> > </div>
    </div>
    <div id="dueDateSelectionContainerSecondRow">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>
    <div id="dueDateSelectionCalendar">
        @{
            var firstDayOfMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
            var sundayOfFirstWeek = firstDayOfMonth;
            var numberOfDaysInWeekBeforeFirst = 0;
            while (sundayOfFirstWeek.DayOfWeek.ToString() != "Sunday")
            {
                sundayOfFirstWeek = sundayOfFirstWeek.AddDays(-1);
                numberOfDaysInWeekBeforeFirst += 1;
            }
            var daysInMonth = DateTime.DaysInMonth(currentDate.Year, currentDate.Month);
            var weeksInMonth = Math.Ceiling((daysInMonth + numberOfDaysInWeekBeforeFirst) / 7.0);

            var calendarDate = sundayOfFirstWeek;
        }

        @for (int week = 0; week < weeksInMonth; week++)
        {
            <div class="due-date-selection-calendar-row">
                @for (var day = 0; day < 7; day++)
                {
                    var calendarDateClasses = "";
                    if (currentDate.Month == calendarDate.Month)
                    {
                        calendarDateClasses += "due-date-selection-calendar-date-current-month ";

                    }
                    else
                    {
                        calendarDateClasses += "due-date-selection-calendar-date-different-month ";
                    }

                    if (calendarDate.Date == currentDate.Date)
                    {
                        calendarDateClasses += "due-date-selection-calendar-date-today ";
                    }

                    if (calendarDate.Date >= currentDate.Date)
                    {
                        calendarDateClasses += "due-date-selection-calendar-date-valid ";
                    }
                    else
                    {
                        calendarDateClasses += "due-date-selection-calendar-date-invalid ";
                    }

                    var calendarDateMonthZeroIndex = calendarDate.Month - 1;
                    <div class="due-date-selection-calendar-date @calendarDateClasses" data-day="@calendarDate.Day" data-month="@calendarDateMonthZeroIndex" data-year="@calendarDate.Year">@calendarDate.Day</div>
                    calendarDate = calendarDate.AddDays(1);
                }
            </div>
        }

    </div>
</div>